header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 20px;
}
    
.logo { 
    grid-area: 1 / 3 / 2 / 4;
}

.logo img {
    display: block;
    margin: auto;
    height: 200px;
    transition: all 1s;
}
.logo img:hover {
    height: 250px;;
}

.logo h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
}

.logo h2 {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}