footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: center;
    background-color: #ee660c;
    padding: 20px;
    color: #fff;
    font-size: 20px;
}
    
footer .right { 
    grid-area: 1 / 1 / 2 / 2; 
}
footer .right h3,
footer .left h4  {
    font-family: 'VT323', monospace;
    font-weight: 400;
    text-transform: uppercase;
}
footer .right h3 a {
    font-family: 'VT323', monospace;
    color: #fff;
    text-decoration: none;
    transition: all 1s;
}
footer .right h3 a:hover {
    font-style: italic;
}
footer .left { 
    grid-area: 1 / 2 / 2 / 3; 
}