section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  text-align: center;
}

.form {
  grid-area: 1 / 3 / 2 / 4;
}

form h5 {
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
}

form .to-do {
  width: 100%;
  max-width: 290px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ee660c;
  border-radius: 5px;
  outline: none;
}

form button {
  width: 100%;
  max-width: 300px;
  background-color: #ee660c;
  border: 1px solid #ee660c;
  color: #fff;
  font-size: 16px;
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
  transition: all 1s;
}

form button:disabled {
  background-color: #a64607;
}

.table table {
  width: 90%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

mat-icon:hover {
  cursor: pointer;
}
